<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rubyt.indiviualproject2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_student"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_student_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.rubyt.indiviualproject2.LoginActivity" />
        <activity android:name="com.example.rubyt.indiviualproject2.RegisterActivity" />
        <activity android:name="com.example.rubyt.indiviualproject2.MainActivity"/>
        <activity android:name="com.example.rubyt.indiviualproject2.QuizActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"/>
        <activity android:name="com.example.rubyt.indiviualproject2.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>